*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: [full-start s1-start] minmax(6rem, 12rem) [s1-end] 1fr repeat(8, [col-start] minmax(min-content, 14.2rem) [col-end]) 1fr [s2-start] minmax(6rem, 12rem) [full-end s2-end];
}
.container--back {
  grid-template-columns: 2rem min-content 4.68rem 1fr;
  overflow: hidden;
}

.h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 3rem;
  grid-row-gap: 0.5rem;
}
.h1__span--1 {
  grid-column: 1/-1;
  font-size: 3rem;
  letter-spacing: 0.8rem;
  display: inline-block;
}
.h1__span--2, .h1__span--3 {
  text-shadow: rgba(0, 0, 0, 0.3) 0.3rem 1px;
}
.h1__span--2 {
  display: inline-block;
  justify-self: end;
}
.h1__span--3 {
  display: inline-block;
  justify-self: start;
}
.h1__span--2 > *, .h1__span--3 > * {
  display: inline-block;
  transform: translateY(-2px);
}

.h2 {
  font-family: "Mulish", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
}

@keyframes takePlace {
  from {
    background-color: transparent;
    padding: 0.2rem 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }
  to {
    background-color: #e4e4e4;
    padding: 0.2rem 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 0.5rem;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 13;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 13;
  }
}
@keyframes order {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    bottom: -0.7rem;
    left: -0.6rem;
    transform: translate(0, 0);
  }
  100% {
    bottom: 0.6rem;
    left: 0.7rem;
    transform: translate(0, 0);
  }
}
@keyframes fadeLeft {
  0% {
    left: -120%;
    opacity: 0;
  }
  80% {
    left: 4px;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    left: 115%;
    opacity: 0;
  }
  80% {
    left: 70%;
    opacity: 1;
  }
  100% {
    left: 73%;
    opacity: 1;
  }
}
@keyframes takePlace {
  from {
    background-color: none;
    padding: 0.2rem 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }
  to {
    background-image: linear-gradient(to right bottom, #fadff2, #f9e5f3);
    padding: 0.2rem 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 0.5rem;
  }
}
@keyframes takePlaceR {
  from {
    background-image: linear-gradient(to right bottom, #fadff2, #f9e5f3);
    padding: 0.2rem 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 0.5rem;
  }
  to {
    background-color: none;
    padding: 0.2rem 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }
}
.margin-bottom {
  margin-bottom: 0.35rem;
}

.btn:link, .btn:visited {
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  text-decoration: none;
  z-index: 1;
  padding: 1rem 2rem;
  background-color: #f6ad49;
  position: relative;
  transition: all 0.2s;
}
.btn:link:hover, .btn:visited:hover {
  background-color: #e60033;
}
.btn--home {
  align-self: top;
}
.btn--sec:link, .btn--sec:visited {
  background-color: #c25987;
  text-transform: capitalize;
  text-align: center;
  color: #f8e3ec;
}
.btn--sec:link:hover, .btn--sec:visited:hover {
  background-color: #bf5282;
}
.btn--sec:link:active, .btn--sec:visited:active {
  background-color: #c35d8a;
}
.btn--order {
  align-self: end;
}
.btn--order:link, .btn--order:visited {
  font-size: 1.25rem;
  border-radius: 1px;
}
.btn--small:link, .btn--small:visited, .btn--small:hover {
  font-size: 1.12rem;
  padding: 0.6rem 0.8rem;
}

.side-nav {
  padding: 2.3rem 0;
  grid-row: 1/-1;
  grid-column: 2/3;
  position: relative;
  z-index: 80;
  display: grid;
  grid-template-rows: min-content;
  align-items: center;
}
.side-nav__logo {
  width: 4rem;
  height: 4rem;
}
.side-nav::before {
  position: absolute;
  left: 128%;
  top: 0;
  content: "";
  display: block;
  width: 6rem;
  height: 100%;
  background-color: #f6ad49;
  z-index: 50;
  clip-path: polygon(100% 0, 60% 5%, 60% 60%, 0 100%);
}
.side-nav__list {
  list-style: none;
  display: grid;
  justify-items: center;
  row-gap: 3rem;
}
.side-nav__item {
  cursor: pointer;
}
.side-nav__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 50%;
}
.side-nav__icon-box--1 {
  background-color: #ffe5c0;
  color: #d9973a;
}
.side-nav__icon-box--2 {
  background-color: #d7fac7;
  color: #77e840;
}
.side-nav__icon-box--3 {
  background-color: #fadff2;
  color: #ea9ed3;
}
.side-nav__icon-box--4 {
  background-color: #e3dccd;
  color: #635335;
}
.side-nav__icon-box--5 {
  background-color: #e1d8e6;
  color: #763e98;
}
.side-nav__icon-box--6 {
  background-color: #fff0ed;
  color: #dd86ac;
}
.side-nav__icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
  fill: currentColor;
}

.search {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  position: relative;
  justify-self: stretch;
}
.search > * {
  grid-row: 1/2;
  grid-column: 1/2;
}
.search__input {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 0.8rem 5rem;
  padding-left: 5.5rem;
  transform-origin: left;
  transition: all 0.2s;
  color: #7a7a7a;
}
.search__input::placeholder {
  color: #777;
}
.search__input:focus {
  outline: none;
  transform: scaleX(1.032);
}
.search__input:focus + .search__icon {
  transform: translateX(1.5px);
}
.search__input:focus ~ .search__button {
  opacity: 1;
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: #999;
  justify-self: start;
  margin-left: 1.8rem;
  z-index: 30;
  position: relative;
  transition: all 0.2s;
}
.search__button {
  justify-self: end;
  border: none;
  align-self: bottom;
  background-color: #dd86ac;
  color: #fff;
  font-family: "Mulish", sans-serif;
  padding: 0.85rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s 0.12s, background-color 0.2s;
  opacity: 0;
  transform: translateX(1.8rem);
}
.search__button:focus, .search__button:hover {
  outline: none;
  background-color: #da7aa4;
}

.card {
  display: grid;
  background-color: #ffffff;
  padding: 0.6rem;
  border-radius: 13px;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr min-content;
  grid-template-rows: 20rem;
  row-gap: 0.7rem;
}
.card__fig {
  grid-column: 1/-1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
}
.card__fig:hover .card__caption .card__caption-desc {
  animation: fadeLeft 0.5s forwards;
}
.card__fig:hover .card__icon .card__icon-ibox {
  animation: fadeRight 0.5s;
}
.card__caption {
  z-index: 80;
  grid-row: 1/3;
  grid-column: 1/3;
  padding: 0 0 1rem 0.8rem;
  display: grid;
  align-items: end;
}
.card__caption-desc {
  opacity: 0;
  position: relative;
  color: #dd86ac;
  font-weight: 400;
  font-size: 1.3rem;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
  grid-row: 1/3;
  grid-column: 1/3;
}
.card__fig:hover .card__img {
  filter: blur(0.5px) brightness(40%);
  transform: scale(1.1);
}
.card__icon {
  position: absolute;
  top: 1rem;
  right: 0.6rem;
  width: 10.3rem;
  z-index: 500;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1rem;
}
.card__icon::after {
  border-radius: 5px;
  content: "";
  position: absolute;
  opacity: 0;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 50;
  clip-path: inset(0 0 0 100%);
  background-color: #fff0ed;
  transition: all 0.2s;
}
.card__icon:hover::after {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}
.card__icon:hover .card__icon-ibox {
  left: 0.6rem;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.1);
}
.card__icon-ibox {
  position: relative;
  left: 73%;
  z-index: 55;
  cursor: pointer;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #fff;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: all 0.2s, left 0.15s 0.05s;
}
.card__icon-ico {
  width: 1.6rem;
  height: 1.6rem;
  fill: #f7b459;
  transform: translateX(0.35rem);
}
.card__icon:hover .card__icon-t {
  clip-path: inset(0 0 0 0);
}
.card__icon-t {
  position: absolute;
  right: 0.8rem;
  color: #c25987;
  font-weight: 400;
  font-size: 1.3rem;
  opacity: 1;
  z-index: 55;
  clip-path: inset(0 100% 0 0);
  transition: all 0.2s 0.2s;
  letter-spacing: 0.4px;
}
.card__icon-box {
  display: none;
}
.card__name, .card__rating {
  align-self: center;
}
.card__name {
  align-self: center;
  font-size: 1.5rem;
  color: #52452c;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}
.card__rating {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  padding-right: 0.6rem;
}
.card__rating-icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: #f7b459;
}
.card__button:link, .card__button:visited {
  background-color: #f7b459;
  padding: 0.9rem 1.1rem;
  justify-self: end;
  grid-column: 2/3;
  grid-row: 3/4;
  border-top-left-radius: 10px;
  margin-top: 1rem;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.card__button:hover {
  background-color: #f6ab46;
}
.card__button:active::after {
  animation: order 0.3s cubic-bezier(0.92, 0.9, 0, 0.95);
}
.card__button:focus::after {
  animation: order 0.3s cubic-bezier(0.92, 0.9, 0, 0.95);
}
.card__button::after {
  position: relative;
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  mask-image: url("../img/compass.svg");
  -webkit-mask-image: url("../img/compass.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #ffdbaa;
  transition: all 0.2s;
}
.card__price {
  grid-column: 1/-1;
  font-weight: 400;
  grid-row: 3/4;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #635335;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}

.form--quant {
  grid-row: 1/2;
  grid-column: 1/2;
}
.form--quant--in {
  animation: fadeIn 0.2s forwards;
}
.form--quant--out {
  animation: fadeOut 0.1s forwards;
}
.form--quant input {
  background-color: #cac1ad;
  color: #736649;
  transition: all 0.2s;
}
.form--quant input:focus {
  background-color: #cfc7b5;
}
.form__label {
  display: inline-block;
  font-size: 1.12rem;
}
.form__label--order {
  padding: 0.2rem 0;
  position: relative;
}
.form__label--grey {
  color: #4d4d4d;
}
.form__cur-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 21rem;
  color: rgba(0, 0, 0, 0.85);
}
.form__cur-list--change {
  animation: takePlace 0.3s forwards;
}
.form__cur-list--change_text {
  padding-left: 0.43rem;
}
.form__cur-list--vColor {
  color: #c25987;
}
.form__cur-list--vColor svg {
  fill: #dd86ac;
}
.form__cur-list--reverse {
  animation: takePlaceR 0.3s forwards;
}
.form__cur-list--reverse_text {
  padding-left: 0;
}
.form__cur-list_text {
  color: currentColor;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.2s;
}
.form__cur-list_icon {
  width: 2rem;
  height: 2rem;
  fill: #525252;
  transition: all 0.2s;
}
.form__list {
  position: absolute;
  min-width: 21rem;
  background-image: linear-gradient(to top left, #fadff2, #fff0ed);
  font-size: 1.35rem;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  z-index: 20;
}
.form__list--show {
  opacity: 1;
  visibility: visible;
}
.form__list-p {
  min-width: 100%;
  transition: all 0.2s;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  align-self: flex-start;
}
.form__list-p:not(:last-child) {
  margin-bottom: 0.3rem;
}
.form__list-p:hover {
  background-color: #ffe5c0;
  cursor: pointer;
}
.form__input--num {
  width: 100%;
  padding: 0.4rem 0.5rem;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 4px;
  border: none;
  color: #777;
  font-size: 1.3rem;
  transition: all 0.2s;
  z-index: 12;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .form__input--num {
    background-color: #ededed;
  }
}
.form__input--num:focus {
  outline: none;
  background-color: #ebebeb;
}
@media only screen and (max-width: 75em) {
  .form__input--num:focus {
    background-color: #ededed;
  }
}

.item {
  display: grid;
  grid-template-columns: 1.8fr 2fr 1fr;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  column-gap: 1.3rem;
  row-gap: 2.4rem;
  align-items: center;
  transition: all 0.2s;
}
.item:hover {
  background-color: #ea9ed3;
  background-color: #763e98;
  background-color: #d9973a;
  background-color: #77e840;
  background-color: #635335;
  background-color: #dd86ac;
  background-color: #c25987;
  background-color: #fff0ed;
  background-color: #ffe5c0;
  background-color: #d7fac7;
  background-color: #fadff2;
  background-color: #e3dccd;
  background-color: #ded6c4;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}
.item:hover .item__container-quant {
  width: 5rem;
}
.item:hover .item__name {
  color: #635335;
  color: #4d4029;
}
.item:hover .item__price {
  color: #635335;
  font-weight: 400;
}
.item:hover .item__icon {
  fill: #9c8d6c;
}
.item__img {
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.item__close {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  display: inline-block;
}
.item__icon {
  width: 100%;
  height: 100%;
  fill: #999;
  transform: translateX(0.6rem);
  transition: all 0.2s;
}
.item__form {
  grid-row: 2/3;
  grid-column: 2/3;
}
.item__name, .item__price {
  align-self: start;
}
.item__price {
  transition: all 0.2s;
  grid-row: 1/span 2;
  grid-column: 3/4;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.08rem;
}
.item__name {
  grid-column: 2/3;
  max-width: 10rem;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  color: #333;
  transition: all 0.2s;
}
.item__container-quant {
  grid-row: 2/3;
  grid-column: 2/3;
  transform: translateX(2.6rem);
  width: 4.5rem;
  transition: all 0.1s 0.1s;
  display: grid;
}

.quantifier {
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 0.4rem;
  width: 4.6rem;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 13;
}
@media only screen and (max-width: 75em) {
  .quantifier {
    display: none;
  }
}
.quantifier--out {
  animation: fadeOut 0.2s forwards;
}
.quantifier--in {
  animation: fadeIn 0.2s forwards;
}
.quantifier__content {
  font-size: 0.85rem;
}
.quantifier__icon-box {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}
.quantifier__icon {
  width: 100%;
  height: 100%;
  fill: #999;
}

.cta {
  display: grid;
  grid-template-rows: auto 5.5rem repeat(2, 1fr);
  align-self: end;
  row-gap: 1rem;
}
.cta__stat {
  border-top: 1px solid gainsboro;
  padding: 1rem 0.8rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  row-gap: 0.5rem;
}
.cta__stat-label {
  font-size: 1.1rem;
  font-weight: 400;
  color: #777;
  text-transform: capitalize;
}
.cta__stat-value {
  justify-self: end;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  color: rgba(0, 0, 0, 0.8);
}
.cta__stat--end {
  align-self: end;
}
.cta__promo {
  border: 2px solid #f3c8e6;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom, #fadff2, #f9e5f3);
  align-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0.7rem 0.8rem;
}
.cta__promo-p {
  text-transform: capitalize;
  font-size: 1.15rem;
  font-weight: 400;
  color: #c25987;
}
.cta__promo-btn {
  padding-right: 1rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 1.3rem;
}
.cta__promo-btn::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 1.2rem;
  background-color: currentColor;
  mask-image: url("../img/bitcoin.svg");
  -webkit-mask-image: url("../img/bitcoin.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
}

.user-nav__user-name, .user-nav__user-link {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #c25987;
  font-size: 1.3rem;
}

.user-nav {
  display: grid;
  grid-template-columns: 3fr 1.5fr 0.1fr repeat(3, max-content);
  align-items: center;
  justify-items: center;
  z-index: 600;
  column-gap: 1.5rem;
}
.user-nav__icon-box:nth-child(2) {
  grid-column: 3/4;
  justify-self: start;
}
.user-nav__icon-box:nth-child(4) svg {
  flex: 0 0 2.3rem;
  height: 2.3rem;
}
.user-nav__icon-box--not {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__icon-box--not svg {
  flex: 0 0 2.2rem;
  height: 1.8rem;
}
.user-nav__ind {
  flex: 0 0 1.3rem;
  height: 1.3rem;
  background-color: #e60033;
  color: #fff;
  padding: 0.2rem 0.2rem;
  border-radius: 50%;
  transform: translate(-1rem, -0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user {
  padding: 0.7rem;
  padding-bottom: 0.4rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s;
}
.user-nav__user:hover {
  background-color: #f2cadb;
}
.user-nav__user:hover .user-nav__user-list {
  clip-path: inset(0 0 0 0);
  opacity: 1;
}
.user-nav__user-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #f2cadb;
  list-style: none;
  clip-path: inset(0 0 100% 0);
  opacity: 0;
  transition: all 0.2s;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-nav__user-link {
  position: relative;
  text-decoration: none;
  padding: 0.3rem 0.8rem;
  overflow: hidden;
  transition: all 0.2s, padding-left 0.1s 0.13s ease-out;
  justify-content: center;
}
.user-nav__user-link--2 {
  transition: all 0.2s, padding-left 0.1s 0.13s ease-in;
}
.user-nav__user-link:hover {
  color: #fff;
  background-color: #dc045f;
  padding-left: 2.2rem;
}
.user-nav__user-link--2:hover {
  padding-left: 2.3rem;
}
.user-nav__user-link:hover::before {
  top: 50%;
  opacity: 1;
  transform: translateY(-50%) rotate(180deg);
}
.user-nav__user-link--2:hover::before {
  transform: translateY(-54%) rotate(0);
}
.user-nav__user-link--1::before, .user-nav__user-link--2::before {
  top: -0.5rem;
  position: absolute;
  display: block;
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #fff;
  opacity: 0;
}
.user-nav__user-link--1::before {
  left: 1rem;
  mask-image: url(../img/cog.svg);
  -webkit-mask-image: url(../img/cog.svg);
  transition: all 0.2s;
  transform: translateY(-50%);
}
.user-nav__user-link--2::before {
  left: 1.3rem;
  mask-image: url(../img/log-out.svg);
  -webkit-mask-image: url(../img/log-out.svg);
  transition: all 0.2s, transform 0.1s 0.13s ease-in;
  transform: translateY(-50%) rotate(-90deg);
}
.user-nav__user-name {
  margin-left: 0.8rem;
}
.user-nav__user-name svg {
  width: 1.3rem;
  height: 1.3rem;
  fill: currentColor;
}
.user-nav__user-img {
  flex: 1;
  height: 3.4rem;
  border-radius: 50%;
}
.user-nav__icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #c25987;
  fill: currentColor;
  cursor: pointer;
  transition: all 0.2s;
}
.user-nav__icon:hover {
  fill: #aa3e6d;
}

.filter {
  background-color: orangered;
}

.order {
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 5000;
  width: 24vw;
  clip-path: inset(0 0 0 100%);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.92, 0.9, 0, 0.95);
  padding: 3rem 2vw;
  padding-bottom: 4rem;
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
}
.order__close {
  position: absolute;
  right: 2.3rem;
  top: 1.3rem;
}
.order__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #d5002f;
  cursor: pointer;
  transition: all 0.2s;
}
.order__icon:hover {
  fill: #c6002c;
}
.order--show {
  clip-path: inset(0 0 0 0);
  opacity: 1;
}
.order__heading {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #c25987;
}
.order__p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.order__label {
  color: #eee;
}
.order__details {
  color: #b6a57f;
  padding: 0.6rem 0;
  display: grid;
  grid-template-columns: min-content 5rem repeat(2, min-content);
  align-items: center;
  justify-items: start;
  grid-column-gap: 0.2rem;
}
.order__details-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: currentColor;
}
.order__details-text {
  color: #635335;
  font-size: 1rem;
}
.order__details-text--1 {
  margin-left: 0.2rem;
}
.order__container-items {
  align-self: start;
  padding-top: 1.5rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  row-gap: 1.5rem;
}

.circ-nav {
  position: absolute;
  top: 2.1rem;
  left: 7rem;
  z-index: 500;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 1.3rem;
  align-items: center;
}
.circ-nav__button {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.circ-nav__button:focus {
  border: none;
  outline: none;
}
.circ-nav__button:hover {
  cursor: pointer;
}
.circ-nav__button--active {
  transform: scale(1.5);
}
.circ-nav__button--active > * {
  transform: translateY(0);
}
.circ-nav__span {
  display: block;
  background-color: #964000;
  width: 60%;
  height: 1px;
  transition: all 0.2s;
  position: relative;
}
.circ-nav__span::before, .circ-nav__span::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #964000;
  transition: all 0.2s;
}
.circ-nav__span::before {
  top: -0.6rem;
}
.circ-nav__span::after {
  top: 0.6rem;
}
.circ-nav__span--close {
  background-color: transparent;
}
.circ-nav__span--close::before {
  top: 0;
  transform: rotate(135deg);
}
.circ-nav__span--close::after {
  top: 0;
  transform: rotate(-135deg);
}
.circ-nav__spin {
  display: grid;
  grid-template-columns: minmax(6.5rem, max-content);
  align-items: center;
  justify-items: center;
  width: 16rem;
  height: 8rem;
  clip-path: ellipse(0% 0% at 0% 100%);
  padding: 1.3rem 0;
  padding-bottom: 1.5rem;
  color: #fff;
  transition: all 0.2s;
}
.circ-nav__spin-icon {
  width: 100%;
  height: 100%;
  fill: #964000;
  transform: rotate(90deg);
}
.circ-nav__spin-link {
  display: block;
  grid-column: 1/2;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  z-index: 500;
  position: relative;
  text-align: right;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-4rem) translateY(10%);
}
.circ-nav__spin-link--3 {
  margin-left: 0.5rem;
}
.circ-nav__spin-link--2 {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.2rem;
  justify-self: start;
}
.circ-nav__spin--active {
  clip-path: ellipse(56% 51.5% at 5% 51%);
}
.circ-nav__spin--active > * {
  visibility: visible;
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.header {
  grid-row: 1/2;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(150, 64, 0, 0.3), rgba(150, 64, 0, 0.3)), url("../img/img-4.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  padding: 3rem 4rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: minmax(min-content, 60vw);
  grid-row-gap: 15rem;
}
.header__nav {
  padding: 0 3rem;
}
.header__nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 22rem repeat(5, max-content);
  align-items: center;
  grid-column-gap: 1rem;
}
.header__nav-link:link, .header__nav-link:visited {
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.45rem;
  transition: all 0.2s;
  display: inline-block;
  padding: 0.6rem 1.2rem;
}
.header__nav-link:hover {
  background: #f6ad49;
}
.header__nav-link:active {
  border: none;
  background: #f8c37a;
}
.header__logo-box {
  width: 15rem;
  justify-self: left;
}
.header__logo {
  width: 100%;
  object-fit: cover;
}

.h2--pref {
  grid-row: 2/3;
  grid-column: 1/-1;
  transition: all 0.2s;
  opacity: 1;
  font-size: 1.5rem;
  clip-path: inset(0 0 0 0);
  color: #c25987;
  z-index: 4;
  position: relative;
}
.h2--pref--hide {
  opacity: 0;
  clip-path: inset(0 0 0 100%);
}

.containerCards {
  padding: 2rem 0;
  transform: translateY(-4.5rem);
  transition: all 0.2s;
  margin-right: -5rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
  overflow-y: scroll;
  max-height: 80vh;
}
.containerCards--down {
  transform: translateY(0);
}

.search-pref {
  padding: 0.5rem;
  clip-path: inset(0 100% 0 0);
  opacity: 0.2;
  grid-row: 2/3;
  grid-column: 1/-1;
  transition: all 0.3s;
}
.search-pref--show {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}
.search-pref__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-column-gap: 2rem;
}
.search-pref__item {
  position: relative;
}
.search-pref__item:hover::before {
  opacity: 1;
  clip-path: ellipse(80% 70% at 50% 20%);
}
.search-pref__item:hover::after {
  top: 6.3rem;
}
.search-pref__item::before, .search-pref__item::after {
  left: 0;
  width: 100%;
  content: "";
  position: absolute;
  background-color: #ffe5c0;
  z-index: 10;
}
.search-pref__item::before {
  top: 0;
  height: 100%;
  clip-path: ellipse(5% 5% at 45% 50%);
  border-radius: 10px;
  opacity: 0.4;
  transition: all 0.22s;
}
.search-pref__item::after {
  top: 5.8rem;
  height: 2px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.2s;
}
.search-pref__item--active:not(:hover)::after {
  opacity: 1;
  transform: scaleX(1);
}
.search-pref__item--activeF:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.search-pref__item:hover .search-pref__link {
  color: #d9973a;
}
.search-pref__link {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 1.2rem;
  padding-bottom: 1.8rem;
  z-index: 20;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 0.4rem;
  transition: all 0.1s;
}
.search-pref__icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: #f6ad49;
  margin-right: 0.6rem;
}

.overview {
  grid-column: 4/-1;
  position: relative;
  margin: 0 0;
  background-color: #fff0ed;
  padding: 1.8rem 6rem;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 1.5rem;
}
.overview::after {
  position: absolute;
  left: -4rem;
  top: 50%;
  content: "";
  display: block;
  width: 8vh;
  height: 100%;
  z-index: 500;
  transform: rotate(7deg) translateX(5.5px);
  background-color: #fff0ed;
}
.overview:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 2.5rem;
  height: 8rem;
  background-color: #fff;
  z-index: 46;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

/*# sourceMappingURL=style.css.map */
