*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: [full-start s1-start] minmax(min-content, 12rem) [s1-end] 1fr repeat(8, [col-start] minmax(min-content, 14.2rem) [col-end]) 1fr [s2-start] minmax(min-content, 12rem) [full-end s2-end];
}
.container--back {
  grid-template-rows: 10vh 83vh 10vh;
  background-image: linear-gradient(to right bottom, #f9c379, #fad19a);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 3rem;
  grid-row-gap: 0.5rem;
}
.h1__span--1 {
  grid-column: 1/-1;
  font-size: 3rem;
  letter-spacing: 0.8rem;
  display: inline-block;
}
.h1__span--2, .h1__span--3 {
  text-shadow: rgba(0, 0, 0, 0.3) 0.3rem 1px;
}
.h1__span--2 {
  display: inline-block;
  justify-self: end;
}
.h1__span--3 {
  display: inline-block;
  justify-self: start;
}
.h1__span--2 > *, .h1__span--3 > * {
  display: inline-block;
  transform: translateY(-2px);
}

.side-nav {
  background-color: #f7f7f7;
  padding: 2.3rem 0;
  overflow: hidden;
  grid-row: 1/-1;
}
.side-nav__list {
  list-style: none;
  display: grid;
  justify-items: center;
  grid-row-gap: 2.2rem;
}
.side-nav__item {
  display: grid;
  grid-template-columns: max-content min-content;
  color: #777;
  cursor: pointer;
}
.side-nav__item::after {
  display: block;
  content: "";
  padding: 0 1.5px;
  height: 100%;
  width: 100%;
  background-color: #f6ad49;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.2s;
}
.side-nav__item:hover, .side-nav__item--active {
  color: #f6ad49;
}
.side-nav__item:hover::after, .side-nav__item--active::after {
  opacity: 1;
  transform: scaleY(1);
}
.side-nav__icon-box {
  display: flex;
  justify-content: center;
  padding: 0.2rem 1.2rem;
}
.side-nav__icon {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  fill: currentColor;
  transition: all 0.2s;
}

.search {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  align-items: center;
  position: relative;
}
.search > * {
  grid-row: 1/2;
  grid-column: 1/2;
}
.search__input {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 5rem;
  padding-left: 5.5rem;
}
.search__input::placeholder {
  color: #777;
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: #999;
  justify-self: start;
  margin-left: 1.8rem;
}
.search__trends {
  background-color: #777;
  height: 1px;
  width: 1rem;
  justify-self: end;
  margin-right: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 0.14rem);
  grid-row-gap: 0.21rem;
  justify-items: center;
  align-items: center;
}
.search__trends::after, .search__trends::before {
  display: block;
  content: "";
  width: 160%;
  height: 100%;
  background-color: #777;
  text-align: center;
}
.search__trends::after {
  width: 60%;
  grid-row: 2/3;
}
.search__trends::before {
  grid-row: 1/2;
  transform: translateY(-0.4rem);
}

.card {
  display: grid;
  grid-template-columns: minmax(min-content, 16rem) min-content;
  grid-row-gap: 0.3rem;
}
.card__fig {
  height: 12rem;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  overflow: hidden;
}
.card__fig:hover .card__caption {
  opacity: 1;
  transform: scaleX(1);
  visibility: visible;
}
.card__fig:hover .card__img {
  filter: blur(0.5px) brightness(75%);
  transform: scale(1.1);
}
.card__caption {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 11;
  align-self: end;
  width: 55%;
  opacity: 0;
  transition: all 0.28s;
  transform-origin: left;
  transform: scaleX(0);
  filter: drop-shadow(0 1rem 2.5rem rgba(0, 0, 0, 0.2));
  position: relative;
  visibility: hidden;
}
.card__caption::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7b459;
  clip-path: polygon(0 20%, 75% 20%, 75% 0, 100% 50%, 75% 100%, 75% 80%, 0 80%);
}
.card__caption-button:link, .card__caption-button:visited {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.15rem;
  padding: 1rem;
  text-decoration: none;
  position: relative;
  z-index: 50;
  background-image: linear-gradient(to right, #853900 0%, #e60033 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__img {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  z-index: 10;
  transition: all 0.3s;
}
.card__desc {
  text-transform: capitalize;
  color: #999;
  font-size: 1.1rem;
}
.card__icon-box {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 1rem;
  margin-right: 1.6rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  position: relative;
}
.card__icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: #f6ad49;
}
.card__name, .card__price {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2rem;
  color: #853900;
}
.card__price {
  grid-column: 2/3;
  justify-self: end;
  color: #d5002f;
}

.circ-nav {
  position: absolute;
  top: 2.1rem;
  left: 7rem;
  z-index: 500;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 1.3rem;
  align-items: center;
}
.circ-nav__button {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.circ-nav__button:focus {
  border: none;
  outline: none;
}
.circ-nav__button:hover {
  cursor: pointer;
}
.circ-nav__button--active {
  transform: scale(1.5);
}
.circ-nav__button--active > * {
  transform: translateY(0);
}
.circ-nav__span {
  display: block;
  background-color: #964000;
  width: 60%;
  height: 1px;
  transition: all 0.2s;
  position: relative;
}
.circ-nav__span::before, .circ-nav__span::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #964000;
  transition: all 0.2s;
}
.circ-nav__span::before {
  top: -0.6rem;
}
.circ-nav__span::after {
  top: 0.6rem;
}
.circ-nav__span--close {
  background-color: transparent;
}
.circ-nav__span--close::before {
  top: 0;
  transform: rotate(135deg);
}
.circ-nav__span--close::after {
  top: 0;
  transform: rotate(-135deg);
}
.circ-nav__spin {
  display: grid;
  grid-template-columns: minmax(6.5rem, max-content);
  align-items: center;
  justify-items: center;
  width: 16rem;
  height: 8rem;
  clip-path: ellipse(0% 0% at 0% 100%);
  padding: 1.3rem 0;
  padding-bottom: 1.5rem;
  color: #fff;
  transition: all 0.2s;
}
.circ-nav__spin-icon {
  width: 100%;
  height: 100%;
  fill: #964000;
  transform: rotate(90deg);
}
.circ-nav__spin-link {
  display: block;
  grid-column: 1/2;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  z-index: 500;
  position: relative;
  text-align: right;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-4rem) translateY(10%);
}
.circ-nav__spin-link--3 {
  margin-left: 0.5rem;
}
.circ-nav__spin-link--2 {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.2rem;
  justify-self: start;
}
.circ-nav__spin--active {
  clip-path: ellipse(56% 51.5% at 5% 51%);
}
.circ-nav__spin--active > * {
  visibility: visible;
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.header {
  grid-row: 1/2;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(150, 64, 0, 0.3), rgba(150, 64, 0, 0.3)), url("../img/img-4.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  padding: 3rem 4rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: minmax(min-content, 60vw);
  grid-row-gap: 15rem;
}
.header__nav {
  padding: 0 3rem;
}
.header__nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 22rem repeat(5, max-content);
  align-items: center;
  grid-column-gap: 1rem;
}
.header__nav-link:link, .header__nav-link:visited {
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.45rem;
  transition: all 0.2s;
  display: inline-block;
  padding: 0.6rem 1.2rem;
}
.header__nav-link:hover {
  background: #f6ad49;
}
.header__nav-link:active {
  border: none;
  background: #f8c37a;
}
.header__logo-box {
  width: 15rem;
  justify-self: left;
}
.header__logo {
  width: 100%;
  object-fit: cover;
}

.header__nav-btn {
  align-self: top;
  padding: 1rem 2rem;
  background-color: #f6ad49;
  position: relative;
  transition: all 0.2s;
}
.header__nav-btn:hover {
  background-color: #e60033;
}
.header__nav-btn > * {
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  text-decoration: none;
  z-index: 1;
}

.image__figure {
  overflow: hidden;
}
.image__figure--1, .image__figure--2 {
  grid-row: 1/2;
  clip-path: inset(15% 40% 0 0);
  margin-top: -2rem;
}
.image__figure--2 {
  clip-path: inset(0 25% 0 0);
  margin-right: -10rem;
  margin-left: 3rem;
  border-radius: 20%;
}
.image__figure--2, .image__figure--4 {
  grid-column: s2-start/s2-end;
}
.image__figure--3, .image__figure--4 {
  grid-row: 3/4;
  border-radius: 20%;
  overflow: hidden;
  margin-bottom: -2rem;
}
.image__figure--4 {
  clip-path: inset(0 0 0 10%);
}
.image__figure-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  background-color: #fff;
  grid-column: col-start 1/col-end 8;
  grid-row: 1/-1;
  border: #f6ad49 solid 5px;
  border-radius: 22px;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: max-content max-content;
}

.overview {
  padding: 1rem 2rem;
  display: grid;
  grid-row-gap: 1.8rem;
  grid-template-rows: min-content 16rem min-content min-content;
}

.img-view {
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: linear-gradient(-110deg, rgba(246, 173, 73, 0.2) 0%, rgba(246, 173, 73, 0.2) 45%, #f76900 45%), url("../img/img-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 58% 100%, 56% 94%, 48% 94%, 46% 100%, 0 100%);
  display: grid;
  grid-template-columns: 50%;
  align-items: center;
}
.img-view::after {
  content: "";
  position: absolute;
  top: 0;
  left: 59.6%;
  width: 8%;
  height: 99.4%;
  background-color: #c95600;
  clip-path: polygon(2% 0, 50% 100%, 0% 100%);
  transform: rotate(-20deg) translateX(-50%);
}
.img-view .text {
  padding: 0 5rem;
  position: relative;
}
.img-view .text::before, .img-view .text::after {
  width: 8%;
  height: 30%;
  background-color: #c95600;
  content: "";
  position: absolute;
}
.img-view .text::before {
  top: -2rem;
  right: 36%;
  clip-path: polygon(70% 0, 100% 100%, 0% 80%);
}
.img-view .text::after {
  bottom: -2.5rem;
  left: 4.6rem;
  clip-path: polygon(20% 0, 50% 80%, 0% 100%);
  transform: rotate(-40deg);
}
.img-view .text span {
  display: grid;
  justify-items: left;
  font-size: 3rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.img-view .text span:first-child {
  color: #000000;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.2rem;
}
.img-view .text span:last-child {
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 0.1rem;
  margin-left: 0.3rem;
}
.img-view__dec {
  width: 10%;
  height: 15%;
  transform: translate(2rem, 1.8rem);
  justify-self: center;
  align-self: end;
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-column-gap: 0.4rem;
}
.img-view__dec-span {
  background-color: #eee;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  display: inline-block;
}
.img-view__dec-span--1 {
  border-radius: 5px;
  background-color: #f76900;
  width: 1.5rem;
}

.search-pref__list {
  list-style: none;
  border-bottom: 1px solid #d5d5d5;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-column-gap: 2rem;
}
.search-pref__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f6ad49;
  transform: translateY(1px) scaleX(0);
  opacity: 0;
  transition: all 0.3s;
}
.search-pref__item--active::after, .search-pref__item:hover::after {
  transform: translateY(1px) scaleX(1);
  opacity: 1;
}
.search-pref__link {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-pref__link:first-child {
  padding-left: 0;
}
.search-pref__icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: #f6ad49;
  margin-right: 0.6rem;
}

.container__cards {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem;
  max-height: 28rem;
  overflow-y: scroll;
}

/*# sourceMappingURL=style.css.map */
