// Color-variables
$font-primary: 'Roboto', sans-serif;
$display-font: 'Mulish', sans-serif;

$color-primary: #f6ad49;
$color-primary-light: #f7b459;
$color-primary-lighter: #f9c379;
$color-primary-lightest: #fad19a;
$color-primary-dark: #f5a639;

$color-secondary-light: #f70037;
$color-secondary: #e60033;
$color-secondary-dark: #d5002f;

$color-tertiary: #964000;
$color-tertiary-light: #a74700;
$color-tertiary-dark: #853900;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// break-points.
$bp-largest: 75em;
