.btn {
  &:link,
  &:visited {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: $display-font;
    font-weight: 400;
    text-decoration: none;
    z-index: 1;

    padding: 1rem 2rem;
    background-color: $color-primary;
    position: relative;
    transition: all 0.2s;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &--home {
    align-self: top;
  }

  &--sec {
    &:link,
    &:visited {
      background-color: lighten($color-tertiary, 19%);
      text-transform: capitalize;
      text-align: center;

      &:hover {
        background-color: lighten($color-tertiary, 16%);
      }

      &:active {
        background-color: lighten($color-tertiary, 20%);
      }
    }
  }

  &--order {
    align-self: end;

    &:link,
    &:visited {
      font-size: 1.25rem;
      border-radius: 1px;
    }
  }

  &--small {
    &:link,
    &:visited,
    &:hover {
      font-size: 1.12rem;
      padding: 0.6rem 0.8rem;
    }
  }
}
