.btn {
  &:link,
  &:visited {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: $display-font;
    font-weight: 400;
    text-decoration: none;
    z-index: 1;

    padding: 1rem 2rem;
    background-color: $color-primary;
    position: relative;
    transition: all 0.2s;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &--home {
    align-self: top;
  }

  &--sec {
    &:link,
    &:visited {
      background-color: #c25987;
      // background-color: #ea9ed3;
      // background-color: #763e98;
      // background-color: #d9973a;
      // background-color: #77e840;
      // background-color: #635335;
      // background-color: #dd86ac;
      // background-color: #c25987;
      // background-color: #fff0ed;
      // background-color: #ffe5c0;
      // background-color: lighten(#caf8b4, 4%);
      // background-color: #fadff2;
      // background-color: darken(#eae5da, 4%);

      // background-color: #ded6c4;
      text-transform: capitalize;
      text-align: center;
      color: lighten(#ecb6ce, 11%);

      &:hover {
        background-color: darken(#c25987, 2%);
      }

      &:active {
        background-color: lighten(#c25987, 1%);
      }
    }
  }

  &--order {
    align-self: end;

    &:link,
    &:visited {
      font-size: 1.25rem;
      border-radius: 1px;
    }
  }

  &--small {
    &:link,
    &:visited,
    &:hover {
      font-size: 1.12rem;
      padding: 0.6rem 0.8rem;
    }
  }
}
