.item {
  display: grid;
  grid-template-columns: 1.4fr 2fr 1fr;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  column-gap: 1.3rem;
  row-gap: 1.5rem;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    background-color: lighten($color-grey-light-1, 2%);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  }

  &:hover &__container-quant {
    width: 5rem;
  }
  // hover

  &__img {
    grid-row: 1 / 3;
    width: 100%;
    height: 6.1rem;
    object-fit: cover;
    border-radius: 6px;

    // full-screen-mode
    height: 6.9rem;
  }

  &__close {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
    display: inline-block;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $color-grey-dark-2;
    transform: translateX(0.6rem);
  }

  &__form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  &__price {
    grid-row: 1 / span 2;
    grid-column: 3 /4;
    align-self: start;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: $display-font;
    letter-spacing: 0.08rem;

    //hover
    // justify-self: end;
  }

  &__name {
    grid-column: 2 / 3;
    max-width: 10rem;
    font-weight: 400;
    font-family: $display-font;
    color: $color-grey-dark-3;
  }

  &__container-quant {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    transform: translateX(2.6rem);
    width: 4.5rem;
    transition: all 0.1s 0.1s;

    display: grid;
  }
}
