.side-nav {
  background-color: $color-grey-light-1;
  padding: 2.3rem 0;
  overflow: hidden;
  grid-row: 1 / -1;

  &__list {
    list-style: none;

    display: grid;
    justify-items: center;
    grid-row-gap: 2.2rem;
  }

  &__item {
    display: grid;
    grid-template-columns: max-content min-content;
    color: $color-grey-dark-1;
    cursor: pointer;

    &::after {
      display: block;
      content: '';
      padding: 0 1.5px;
      height: 100%;
      width: 100%;
      background-color: $color-primary;

      opacity: 0;
      transform: scaleY(0);
      transition: all 0.2s;
    }

    &:hover,
    &--active {
      color: $color-primary;

      &::after {
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    padding: 0.2rem 1.2rem;
  }

  &__icon {
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    fill: currentColor;
    transition: all 0.2s;
  }
}
