@keyframes takePlace {
  from {
    background-color: transparent;
    padding: 0.2rem 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }

  to {
    background-color: darken($color-grey-light-2, 4%);
    padding: 0.2rem 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 0.5rem;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 13;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
  }

  to {
    opacity: 1;
    z-index: 13;
  }
}

@keyframes order {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  50% {
    bottom: -0.7rem;
    left: -0.6rem;
    transform: translate(0, 0);
  }

  100% {
    bottom: 0.6rem;
    left: 0.7rem;
    transform: translate(0, 0);
  }
}

@keyframes fadeLeft {
  0% {
    left: -120%;
    opacity: 0;
  }

  80% {
    left: 4px;
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    left: 115%;
    opacity: 0;
  }

  80% {
    left: 70%;
    opacity: 1;
  }

  100% {
    left: 73%;
    opacity: 1;
  }
}

@include takePlaceM(first);
@include takePlaceM(se);
