*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px;
  box-sizing: border-box;

  @include media(lg) {
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns:
    [full-start s1-start] minmax(6rem, 12rem) [s1-end] 1fr repeat(
      8,
      [col-start] minmax(min-content, 14.2rem) [col-end]
    )
    1fr [s2-start] minmax(6rem, 12rem) [full-end s2-end];

  &--back {
    grid-template-rows: 10vh 83vh 10vh;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-lighter,
      $color-primary-lightest
    );
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}
