.circ-nav {
  position: absolute;
  top: 2.1rem;
  left: 7rem;
  z-index: 500;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 1.3rem;
  align-items: center;

  &__button {
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    &:focus {
      border: none;
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &--active {
      transform: scale(1.5);

      & > * {
        transform: translateY(0);
      }
    }
  }

  &__span {
    display: block;
    background-color: $color-tertiary;
    width: 60%;
    height: 1px;
    transition: all 0.2s;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-tertiary;
      transition: all 0.2s;
    }

    &::before {
      top: -0.6rem;
    }

    &::after {
      top: 0.6rem;
    }

    &--close {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(135deg);
      }

      &::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }

  &__spin {
    display: grid;
    grid-template-columns: minmax(6.5rem, max-content);
    align-items: center;
    justify-items: center;

    width: 16rem;
    height: 8rem;
    clip-path: ellipse(0% 0% at 0% 100%);

    padding: 1.3rem 0;

    padding-bottom: 1.5rem;
    color: #fff;

    transition: all 0.2s;

    &-icon {
      width: 100%;
      height: 100%;
      fill: $color-tertiary;
      transform: rotate(90deg);
    }

    &-link {
      display: block;
      grid-column: 1 / 2;
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem;
      text-transform: capitalize;
      z-index: 500;
      position: relative;
      text-align: right;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-4rem) translateY(10%);

      &--3 {
        margin-left: 0.5rem;
      }

      &--2 {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -0.2rem;
        justify-self: start;
      }
    }

    &--active {
      clip-path: ellipse(56% 51.5% at 5% 51%);

      & > * {
        visibility: visible;
        opacity: 1;
        transform: translateX(0) translateY(0);
      }
    }
  }
}
